body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2410da;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color:blue;
}

input[type="number"] {
    padding: 8px;
    margin: 10px 0;
    border: 2px solid blue;
    border-radius: 4px;
    width: 100px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    font-size: 16px;
}